@import url(service_common.css);

article {
    font-size: 0;
}

.service_nav_a.planA {}

.service_nav_a.planA:hover a{
    color:#ffc400;
    margin-left: 0;
}


section {
    width: 70%;
    margin: 0 auto;
}

.plan1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% auto;
    position: relative;
}

.plan1 img {
    width: 50%;
}

.plan1 p {
    position: absolute;
    top:50%;
    right:0;
    transform: translate(0,-50%);
    text-align: right;
    color: #505456;
    font-size: 2rem;
}

.plan1 p strong {
    font-size: 5rem;
}

.plan2 {
    margin-bottom: 8%;
}

.plan2 ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan2 ul li {
    text-align: center;
    width: 33%;
}

.plan2 ul li img {
    width: 30%;
}

.plan2 ul li p {
    color: #505456;
    font-size: 2rem;
    margin-top: 5%;
}

.plan2 ul li p strong {
    font-size: 2.4rem;
}

.plan3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8%;
}

.plan3 img {
    width: 40%;
}

.plan3 p {
    width: 50%;
    color: #505456;
    font-size: 2.4rem;
}

.plan3 p strong {
    font-size: 3rem;
}

.plan4{
    margin-bottom: 8%;
}
.plan4 h4{
    color: #505456;
    font-size: 3rem;
    margin-bottom: 2%;
}
.plan4 ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:0;
    padding:0;
}
.plan4 ul li{
    display: block;
}
.plan4 ul li span{
    display: block;
    width:24rem;
    height:24rem;
    border-radius: 100%;
    margin: 0 auto;
    border: 1px solid #ffc400;

}
.plan4 ul li span img{
    width: 50%;
    transform: translate(50%,50%);
}
.plan4 ul li p{
    text-align: center;
    color: #505456;
    font-size: 2rem;
    margin-top: 10%;
}
.plan4 ul li p strong{
    font-size: 2.6rem;
}


footer {
    font-weight: 300;
    width: 100%;
    background-color: #28323c;
}

.footerPack {
    width: 70%;
    margin: 0 auto;
    padding: 1% 0;
}

.fTop {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}

.fTop img {
    width: 20%;
    margin-right: 5%;
}

.fTop a {
    width: 25%;
    color: #fff;
    font-size: 1.6rem;
}

.fMid {
    width:100%;
    padding: 1% 0;
    display: flex;
    justify-content: flex-start;
}
.fMid div{
    width:30%;
}


.fMid div p {
    margin-right: 1.5%;
    color: #fff;
    font-size: 1rem;
}

.fBottom {
    width:100%;
    padding: 1% 0;
}

.fBottom p {
    color: #fff;
    font-size: 1rem;
}

@media all and (min-width:1024px) and (max-width:1440px) {
    .plan1 p {
        font-size: 2rem;
    }
    
    .plan1 p strong {
        font-size: 3.6rem;
    }

    .plan2 ul li img {
        width: 30%;
    }
    
    .plan2 ul li p {
        font-size: 1.8rem;
        letter-spacing: -2px;
    }
    
    .plan2 ul li p strong {
        font-size: 2.2rem;
    }
    
    .plan3 p {
        font-size: 2rem;
    }
    
    .plan3 p strong {
        font-size: 2.6rem;
    }
    
    .plan4 ul li span{
        width:20rem;
        height:20rem;
    
    }
    .footerPack {
        padding: 1% 0;
    }
    
    .fTop {
        display: flex;
        justify-content: space-between;
        padding: 1% 0;
    }
    
    .fTop img {
        width: 20%;
    }
    
    .fTop a {
        color: #fff;
        font-size: 1rem;
    }
    
    .fMid div{
        width:33%;
        margin-bottom: 2%;
    }
}

/* 테블릿  PC(해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    .plan1 img {
        width: 40%;
    }
    
    .plan1 p {
        letter-spacing: -2px;
        font-size: 2rem;
    }
    
    .plan1 p strong {
        font-size: 3.6rem;
    }
    
    .plan2 ul {
        flex-direction: column;
    }
    
    .plan2 ul li {
        margin-bottom: 5%;
        width: 100%;
    }
    
    .plan2 ul li img {
        width: 15%;
    }
    
    .plan2 ul li p {
        color: #505456;
        font-size: 1.8rem;
        margin-top: 1%;
    }
    
    .plan2 ul li p strong {
        font-size: 2rem;
    }
    
    .plan3 {
        flex-direction: column;
    }
    
    .plan3 img {
        width: 50%;
    }
    
    .plan3 p {
        margin-top: 3%;
        text-align: center;
        width: 70%;
        font-size: 2rem;
    }
    
    .plan3 p strong {
        font-size: 2.6rem;
    }

    .plan4 h4{
        font-size: 2.6rem;
        margin: 10% 0 5% 0;
        text-align: center;
    }
    .plan4 ul{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .plan4 ul li{
        display: block;
        width: 100%;
        margin-bottom: 5%;
    }
    .plan4 ul li span{
        display: block;
        width:18rem;
        height:18rem;
    }

    .plan4 ul li p{
        text-align: center;
        color: #505456;
        font-size: 1.8rem;
        margin-top: 1%;
    }
    .plan4 ul li p strong{
        font-size: 2rem;
    }
    
    .fTop a {
        font-size: 1rem;
    }
    .fMid div{
        width:33%;
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {

    section {
        width: 80%;
    } 
    .plan1 img {
        width: 40%;
    }
    
    .plan1 p {
        letter-spacing: -2px;
        font-size: 1.8rem;
        line-height: 1.3;
    }
    
    .plan1 p strong {
        font-size: 2.4rem;
    }
    
    .plan2 ul {
        flex-direction: column;
    }
    
    .plan2 ul li {
        width: 100%;
        margin-bottom: 5%;
    }
    
    .plan2 ul li img {
        width: 15%;
    }
    
    .plan2 ul li p {
        font-size: 1.4rem;
        margin-top: 1%;
    }
    
    .plan2 ul li p strong {
        font-size: 1.8rem;
    }
    
    .plan3 {
        flex-direction: column;
        margin-bottom: 10%;
    }
    
    .plan3 img {
        width: 50%;
    }
    
    .plan3 p {
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
    }
    
    .plan3 p strong {
        font-size: 1.8rem;
    }
    
    .plan4 h4{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2%;
    }
    .plan4 ul{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    .plan4 ul li{
        width: 100%;
        margin-bottom: 5%;
    }
    .plan4 ul li span{
        width:14rem;
        height:14rem;
    }

    .plan4 ul li p{
        font-size: 1.6rem;
        margin-top: 2%;
    }
    .plan4 ul li p strong{
        font-size: 1.8rem;
    }
    
    .footerPack {
        width: 80%;
    }
    .fTop img {
        width: 10%;
    }
    
    .fTop a {
        width: 30%;
        color: #fff;
        font-size: 1rem;
    }
    
    .fMid {
        margin: 2% 0;
        width:100%;
        padding: 1% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .fMid div{
        margin: 1% 0;
        width:50%;
    }
    
    
    .fMid div p {
        margin-right: 1.5%;
        color: #fff;
        font-size: 1rem;
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    section {
        width: 80%;
    }
    
    .plan1 {
        margin-bottom: 10%;
    }
    
    .plan1 img {
        width: 40%;
    }
    
    .plan1 p {
        letter-spacing: -2px;
        font-size: 1.6rem;
    }
    
    .plan1 p strong {
        font-size: 2rem;
    }
    
    .plan2 {
        margin-bottom: 10%;
    }
    
    .plan2 ul {
        flex-direction: column;
    }
    
    .plan2 ul li {
        width: 100%;
        margin-bottom: 5%;
    }
    
    .plan2 ul li img {
        width: 15%;
    }
    
    .plan2 ul li p {
        font-size: 1.4rem;
        margin-top: 3%;
    }
    
    .plan2 ul li p strong {
        font-size: 1.8rem;
    }
    
    .plan3 {
        flex-direction: column;
        margin-bottom: 10%;
    }
    
    .plan3 img {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    
    .plan3 p {
        text-align: center;
        width: 100%;
        font-size: 1.4rem;
    }
    
    .plan3 p strong {
        font-size: 1.8rem;
    }
    
    .plan4{
        margin-bottom: 8%;
    }
    .plan4 h4{
        font-size: 1.8rem;
        margin-bottom: 5%;
        text-align: center;
    }
    .plan4 ul{
        flex-direction: column;
    }
    .plan4 ul li{
        width: 100%;
        margin-bottom: 5%;
    }
    .plan4 ul li span{
        display: block;
        width:12rem;
        height:12rem;
    
    }
    .plan4 ul li p{
        font-size: 1.4rem;
        margin-top: 5%;
        line-height: 1.2;
    }
    .plan4 ul li p strong{
        font-size: 1.8rem;
    }

    .footerPack {
        width: 80%;
    }
    
    .fTop {
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1% 0;
    }
    
    .fTop img {
        display: none;
    }
    
    .fTop a {
        width: 45%;
        font-size: 1rem;
    }
    
    .fMid {
        display: none;
    }
    .fMid div{
        width:30%;
    }
    
    
    .fMid div p {
        margin-right: 1.5%;
        color: #fff;
        font-size: 1rem;
    }
    
    .fBottom {
        width:100%;
        padding: 1% 0;
    }
    
    .fBottom p {
        color: #fff;
        font-size: 1rem;
    }
}